<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
#content{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    //remove this line
    width: 400px;
    min-height: 100px;
    margin-top :200px;
    top:30%; 
}
.row a{
width : 100% ;
}
.text-center {
    text-align: center;
    padding-top: 20%;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30;
}
#sbar {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
#formb {
	left : 50%;
	transform: translateX(-50%); 
}
main{
	margin-top : -200px; 	
	background-image: url("http://soundwave.com/img/hero11.jpg"); 
	background-size: 1440px 750px;
	background-repeat: no-repeat;
}
</style>
<main>
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
<div class="navbar-header">
	<h4 class="heading"><a href="/search">Good Vaibes</a></h4>
</div>
<ul class="nav navbar-nav navbar-right">
<li><a href="/test" name="4" type="Submit">Get recommendation!</a></li>
<li><a href="/quiz" name="5" type="Submit">Take a quiz</a></li>
</ul>
</div>
</nav>
	<!--To Do: Fix the action and get/post request-->
<div id="content">
<div class="input-group center-block">
	<form name="search" action="/search/" method="Get" accept-charset="utf-8">{% csrf_token %}
		<h2 class="text-center">Search for a song, artist or album here.</h2><br>
		<input id="sbar" type="text" class="form-control" placeholder="Search for..." name="q"><br>
	
		<button class="search btn btn-default center-block" name="1" type="Submit">Search</button><br>
</form>	
 </div>
<div id="formb" class="input-group" style="margin-left=20px">
<form id ="create" action="/search/add" method="post" id="post-form">{% csrf_token %}
  <label id="f1">Title:</label><br>
  <input type="text" class="form-control" name="name" >
  <br>
  <label id="f2">Genre:</label><br>
  <input type="text" class="form-control" name="g">
  <br>
  <label id="f3">Artist:</label><br>
  <input type="text" class="form-control" name="art" >
  <br>
  <label id="f4">Album:</label><br>
  <input type="text" class="form-control" name="alb" >
  <br>
<br>
  <select onchange="changeLabels()" id="type" name="t">
  <option value="s">Song</option>
  <option value="ar">Artist</option>
  <option value="al">Album</option>
</select>

  <button onclick="add()" type="submit" class="btn-primary" name="2" value="Save">create</button>
	
</form>
</div>
<input type='hidden' name='csrfmiddlewaretoken' value='[csrf token will be here]' />
<div class="btn-group" role="group" aria-label="...">
</div>
<br>
<div class="row">
<div class="col-md-4">
  <a href="#" class="list-group-item active">Songs</a>
{% for songs in result %}  
<div class="bulk card card-block" value="{{songs.Genre}}">
    <h2 value=" {{ songs.Genre }} ">{{ songs.Title }}</h2>  

    <div id="bulk">  

      <p>Genre: {{ songs.Genre }}</p>  

      <p>Artist: {{ songs.Artist }}</p>  
      <p>Album : {{ songs.Album }} </p>
    </div>  
</div>
{% endfor %}  
</div>

<div class="col-md-4">
  <a href="#" class="list-group-item active">Artists</a>
{% for songs in result2 %}
<div class="bulk">
    <h2 value=" {{ songs.genre }} ">{{ songs.name }}</h2>

    <div id="bulk">

      <p>Genre: {{ songs.genre }}</p>
      <p>Url :<a href="{{ songs.external_url }} ">{{ songs.external_url}}</a> </p>
    </div>
</div>
{% endfor %}
</div>
<div class="col-md-4">
  <a href="#" class="list-group-item active">Albums</a>
{% for songs in result3 %}
<div class="bulk">
    <h2 value=" {{ songs.Genre }} ">{{ songs.Title }}</h2>

    <div id="bulk">

      <p>Genre: {{ songs.Genre }}</p>
      <p>Artist: {{ songs.Artist }}</p>
      <p>Label : {{ songs.Label }} </p>
      <p>Length : {{ songs.Length }} </p>
    </div>
</div>
{% endfor %}
</div>


	</div>
</div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    window.onload = function() {
        var anchors = document.getElementsByClassName('bulk');
        for(var i = 0; i < anchors.length; i++) {
            var anchor = anchors[i];
            anchor.onclick = function(e) {
        	alert("user's preference has changed!")   
	         $.ajax({
       			url : "change" ,
        		type : "PUT",
       			data : { 'genre' :  e.target.attributes.value.value }
        });
            }
        }
    }


var changeLabels = function(){
var type = document.getElementById("type").value;
	
	if(type ==='ar'){
		document.getElementById("f1").innerHTML = "Name :"; 
		document.getElementById("f2").innerHTML = "Genre :";
		document.getElementById("f3").innerHTML = "URL :";
		document.getElementById("f4").innerHTML = "Album :";
	}
	if(type ==='al'){
                document.getElementById("f1").innerHTML = "Title :";
                document.getElementById("f2").innerHTML = "Genre :";
                document.getElementById("f3").innerHTML = "Artist(s) :";
                document.getElementById("f4").innerHTML = "Label :";
        }
        if(type ==='s'){
                document.getElementById("f1").innerHTML = "Name :";
                document.getElementById("f2").innerHTML = "Genre :";
                document.getElementById("f3").innerHTML = "Artist :";
                document.getElementById("f4").innerHTML = "Album :";
        }
}

var ul = document.getElementsByClassName('bulk');

ul.addEventListener('click', function(e) {
 
    alert('user favorite has changed');
    $.ajax({
	url : "change" ,
	type : "PUT",
	data : { 'genre' :  e.target.attributes.value.value } 
	});
});
var add = function(){
    var t = document.getElementById("type").value;
	alert(t);
    $.ajax({
        url : "add",
        type : "POST",
        data : { 't': t ,'genre' : e.target.attributes.value.value }
    });
}
$('#post-form').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    add();
});
</script>
