<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
#content{
    margin-left: 20%;
    margin-right: auto;
    margin-bottom: 0;
    //remove this line
    width: 400px;
    min-height: 100px;
    margin-top :100px;
}

</style>

<main>
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
<div class="navbar-header">
<h4 class="heading"><a href="/search">Good Vaibes</a></h4>
</div>
<ul class="nav navbar-nav navbar-right">
<li><a href="/test" name="4" type="Submit">Get recommendation!</a></li>
<li><a href="/search" name="5" type="Submit">Search</a></li>
</ul>
</div>
</nav>
<div id="content">
<h3>How Well Do You Know Your Music?</h3>

<p class="question">1."{{a1.Title}}"is sang by which of the following artist?</p>
<ul id="answers1">
{% for q in q1 %} 
<input type="radio" name="q1" value="a" id="{{q.song_id}}"><label for="{{q.song_id}}">{{ q.Artist }}</label><br/>
{% endfor %}
</ul>
<p class="question">2. Which of the following song is sang by "{{a2.Artist}}"?</p>
<ul id="answers2">
{% for q in q2 %}
<input type="radio" name="q2" value="a" id="{{q.song_id}}"><label for="{{q.song_id}}">{{ q.Title }}</label><br/>
{% endfor %}
</ul>
<p class="question">3. What genre does the song "{{a3.Title}}" belong to?</p>
<ul class="answers3">
{% for q in q3 %}
<input type="radio" name="q3" value="a" id="{{q.song_id}}"><label for="{{q.song_id}}">{{q.Genre}}</label><br/>
{% endfor %} 
</ul>
<button onclick="score()">Submit</button>
</div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
var score = function(){
var s = 0;
var id= $('input[name=q1]:checked').attr('id');
var text= $('label[for='+id+']').text();
if (text==="{{a1.Artist}}") s += 1; 
id= $('input[name=q2]:checked').attr('id');
text= $('label[for='+id+']').text();
if (text==="{{a2.Title}}") s += 1;
id= $('input[name=q3]:checked').attr('id');
text= $('label[for='+id+']').text();
if (text==="{{a3.Genre}}") s += 1;
if(s < 3 ){
alert( s + '/3 Sorry! Try again' );
}
else{
alert('3/3 Congrats, You Won!! ');
}
}

</script> 
