<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">  

<html xmlns="http://www.w3.org/1999/xhtml">  

  <head>  

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  

    <title>GoodVaibes</title>

  </head>  

  <body>  

    <h1>Recommendations for You </h1>  

{% for list_dict in song_listing %}  

    <h2> {{ list_dict.Title }} </h2>  

    <ul>  

      <li>Genre: {{ list_dict.Genre }}</li>  
      <li>Artist:  ({{ list_dict.Artist }}%) </li>
    </ul>  

{% endfor %}  

  </body>  

</html>
