<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>MP3 Starter</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body ng-app="mp3" ng-controller="listController">
  <header>
    <div class="top-bar sticky" id="nav" style="top:0px">
      <div class="top-bar-center">
        <ul class="menu vertical medium-horizontal data-magellan">
          <li><a id="1" href="list.html">List</a></li>
          <li><a id="2" href="gallery.html">Gallery</a></li>
          <li><a id="3" href="details.html?rank=1">Details</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div>
  <div id="viewHeader">
    <section class="left">
      <h1 id="ts-view-caption"></h1>
    </section>
    <section class="right">
      <input type="search" id="tablesearch" placeholder="Search..." ng-model="search" data-column="1,2,3" />
      <div id="ts-view-toolbar"></div>
    </section>
  </div>
  <div id="ts-view"></div>
</div>
  <table id="table" class="tablesorter">
    <caption>Movies</caption>
    <thead>
      <tr>
        <td><a href="#" ng-click="sortType = 'rank'; sortReverse = !sortReverse">Rank</td>
        <td><a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">Name</td>
        <th>Plot</th>
        <th><a href="#" ng-click="sortType = 'imdbRating'; sortReverse = !sortReverse">Rating</th>
      </tr>
    </thead>
    <tbody ng-repeat="info in infos | orderBy: sortType:sortReverse| filter : search">
      <tr ng-click="getinfo(info.rank)" onclick="window.location.href = 'details.html';">
        <td>
          {{info.rank}}
        </td>
        <td>
          {{info.title}}
        </td>
        <td>
          {{info.plot}}
        </td>
        <td>
          {{info.imdbRating}}
        </td>
      </tr>
    </tbody>
  </table>
    <!-- Angular Scripts -->
    <!-- NOTE: removing the ".min." can help debugging in the console-->
    <script src="../lib/angular/angular.min.js"></script>
    <script src="../lib/angular-route/angular-route.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/controllers.js"></script>

    <!-- Scripts -->
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/foundation-sites/dist/foundation.min.js"></script>
    <script src="../js/script.js"></script>
    <script>
    $(document).foundation();
    </script>
    <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
